$main-background-color: #424769;
$main-font-color: #fff;

//header
$header-background-color: #2d3250;

$header-p-font-color: #fff;

$nav-font-color: #fff;

$h1-font-color: #fff;
$footer-background-color: #3a3a3a;

// code
$code-background-color: #00bfcd;

//nedan är de stora rutorna i "doc" texten!
$pre-background-color: #232242;
// blockquote

$blockquote-color: #232242;

// technology
$box-border-color: #232242;

$css-box-font-color: rgb(22, 117, 240);

// colors
$border-color: #fff;


$link-font-color: rgb(22, 117, 240);

//analysis
$report-menu-font-color: rgb(22, 117, 240);
$report-font-color: rgb(22, 117, 240);

$report-menu-font-color: rgb(22, 117, 240);
